.todo-wrapper {
    font-family: 'Open Sans', sans-serif;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    background: #9d5fd4;
    border-radius: 8px;
    align-items: center;
    padding: 6px;
    color: #fff;
    font-size: calc(1rem + 0.4vw);
    margin-top: 1.5vw;
    line-height: 16px;
}